<!DOCTYPE html>
<html>
<head>
	<title>Localy - Open Source Hyper Local Search</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<div class="container">
	<h1 class="heading">Localy</h1>
	<h4 class="subheading">Open Source Hyper Local Search</h4>
	<input type="search" class="search" placeholder="Search for Product/Services">
</div>
<footer>
	<a href="#">Submit Your Business</a><br>
	Fork at <a href="https://github.com/localy">Localy</a>
</footer>
</body>
</html>