<!DOCTYPE html>
<html ng-app="SearchApp">
<head>
	<title>Localy - Open Source Hyper Local Search</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script type="text/javascript" src="javascripts/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/controllers/searchcontroller.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>
<body ng-controller="SearchController">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 class="heading">Localy</h1>
			<h4 class="subheading">Open Source Hyper Local Search</h4>
			<div class="searching-loading">
				<img src="images/loading.gif" ng-show="searching">
			</div>
			<input type="search" class="search form-control" placeholder="Search for Product/Services" ng-model="q" ng-enter="search()">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<ul  class="list-group">
				<li ng-repeat="res in results" class="list-group-item">
					
					<div class="row">
						<div class="col-md-2">
							<p>
								<img src="{{res._source.thumbnail}}" class="img-thumbnail">
							</p>
						</div>
						<div class="col-md-8">
							<h4 class="resheader">
								{{res._source.name}}
							</h4>
							<p>
								{{res._source.address.streetAddress}}<br>
								{{res._source.address.addressLocality}}<br>
								{{res._source.address.postalCodes}}
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-5">
			<div id="map_wrapper">
			    <div id="map_canvas" class="mapping"></div>
			</div>
		</div>
	</div>
	
</div>
<footer>
	<a href="#">Submit Your Business</a><br>
	Fork at <a href="https://github.com/localy">Localy</a>
</footer>
<script type="text/javascript">
   
</script>

</script>
</body>
</html>