@import url(http://fonts.googleapis.com/css?family=Hind:400,700);

html {font-size: 0.875em;border-top:4px solid #6cc5fa;}

body {
  background-color: white;
  font-family: 'Hind', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
.heading{margin-top: 100px}
.subheading{text-transform: uppercase;font-size: 1.414em;margin-bottom: 1em}
.container input{
	height: 35px;
	border: 1px solid #ccc;
	box-shadow: inset 0px 6px 3px -6px rgba(0,0,0,0.2);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    outline: 0;
  	border-radius: 0;
  	height: 44px;
  	padding: 10px;
  	vertical-align: middle;
  	position: relative;
}
.text-center{text-align: center}
.search{font-family: 'Hind', serif;}.resheader{margin-top:0;}
.list-group-item{padding-left: 0;border:0;}.list-group-item:first-child{ margin-top: 20px;}
.list-group-item img{border-radius: 0}.searching-loading{height:50px}
footer{
	text-align: center;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	width:100%;
	left: 0;
	right: 0;
	margin-bottom: 20px;

}
#map_wrapper {
    height: 400px;  margin-top: 20px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}